{{> header title='Tarot Créatif - Art Thérapie Toulouse - Celia Melesville'}}


<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
      <h1>Atelier : Le tarot créatif</h1>

      <h2>Qu'est ce que le tarot créatif ?</h2>

      <div class="section-contain">

        <div class="informations-left block-info ">
          <img src="/assets/illustration-tarot-creatif.jpg"/>
        </div>

        <div class="informations-right block-info">
          <p> Le tarot créatif est une méthode que j'ai adaptée et qui rallie <strong>la pratique du tarot et de l'art-thérapie dans un but de développement personnel et de reconnexion à soi</strong>. </p>

          <p>Les Ateliers de groupe durent deux heures durant lesquels vous serez amené à écrire, peindre, crayonner autour des cartes de tarot et de leurs symboliques.</p>

          <p>Vous n'avez pas besoin d'être tarologue, de savoir dessiner ou d'être un grand écrivain pour participer. Simplement d'avoir l'élan de <strong>partir en quête de vous-même</strong>. Ses ateliers sont ouverts à tous, sans niveau requis.</p>
        </div>





      </div>
      <div class="section-contain">
      <h2>Informations</h2>

        <div class="block-info">
          <p>Au rythme d'<strong>un atelier par mois</strong> nous explorerons à chaque séance une carte du tarot</p>
          <p><strong>Quand :</strong> un lundi par mois, de 18h à 20h</p>
          <p><strong>Durée :</strong> 2H</p>
          <p><strong>Tarif :</strong> Possibilité de s'inscription à l'année ou à la séance ( sur réservation dans la limite des places disponibles)</p>
          </strong></p>
          <ul>
            <li>A l'année 330 euros soit 30 euros l'atelier</li>
            <li>Atelier ponctuel 35 euros l'atelier</li>
          </ul>
          <p><strong>Matériel :</strong> Des jeux de tarot et d'oracle ainsi que le matériel d'art est mis à votre disposition.</p>
          <p>Toutefois, si vous le souhaitez, vous pouvez apporter votre propre jeu ou matériel.</p>
        </div>



        <h2>Prochains ateliers</h2>
        <div class="block-info block-info--primary">
          <h3>Dates des prochains ateliers :</h3>
            <p>Lundi <strong>12 Septembre</strong> 2016 - carte du fou</p>
            <p>Lundi <strong>10 Octobre</strong> 2016 - carte du magicien</p>
            <p>Lundi <strong>7 Novembre</strong> 2016 - carte de la grande prêtresse</p>
            <p>Lundi <strong>12 Décembre</strong> 2016 - carte de l'impératrice</p>
            <p>Lundi <strong>11 Janvier</strong> 2017 - carte de l'empereur</p>
            <p>Lundi <strong>6 Février</strong> 2017 - carte de l'Hiérophante</p>
            <p>Lundi <strong>6 Mars</strong> 2017 - carte de l'amoureux</p>
            <p>Lundi <strong>3 Avril</strong> 2017 - carte du chariot</p>
            <p>Lundi <strong>24 Avril</strong> 2017 - carte de la force</p>
            <p>Lundi <strong>15 Mai</strong> 2017 - carte l'hermite</p>
            <p>Lundi <strong>12 Juin</strong> 2017 - carte de la roue de la fortune</p>
            <p><strong>Les places sont limitées</strong> et l'inscription à l'année est priorisée</p>
          Si vous souhaitez vous inscrire, merci de me contacter par mail ou téléphone</a>.
        </div>

        <div>
          <img style="margin:20px auto;display:block;width: 100%;max-width:416px" src="/assets/illustration-tarot-creatif2.jpg"/>
        </div>

        </div>


    </section>




  </div>

  </div>
  {{> footer}}
</body>
</html>