.contact-button a{
  text-decoration : none;
  color : #222;
}

.contact {
}
form {
  margin : 0 auto;
  max-width: 300px;
}

.form-group {
  margin: 10px;
}
.form-group label {
  display: block;
}
.contact button {
  padding: 10px;
  margin : 0 auto;
  width : 100px;
  display: block;
}
.contact input , .contact textarea{
  width: 100%;
  padding: 5px;
}
