.header {
/*  font-family: 'Roboto', "Helvetica", sans-serif;*/
  position: relative;
}
.top-header {
  overflow: hidden;
  min-height: 200px;
  position: relative;
}
/*
.site-title--alter {
  color: #FEA702;
  font-size: 0.7em;
}
*/

.site-title {
  font-size: 5em;
  text-align: center;
  color: #222;
  font-family: 'Ruthie', cursive;
}

.site-title a {
  text-decoration: none;
  color : inherit;
}
/*
.logo {
  width: 468px;
  margin: 0 auto;
  display: block;
}

@media all and (max-width: 960px)
{
  .logo img{
    opacity: 0.35;
  }
}

@media all and (max-width: 468px) {
  .logo img{
    width: 100%;
  }
}

@media all and (max-width: 650px)
{

  .logo img{
    position: absolute;
  }

  .header-contact {
    margin:5px;
  }

  .keywords {

    position: relative;
    text-align: center;
    margin:0 0 1em 0;
    width: 100%;
    right: 0;
    left:0;
  }

}

*/