{{> header title='Celia Melesville - CGV'}}

<body>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">

      <section class="container section">
        <h1>Conditions Générale de Vente</h1>

        <i>Dernière Modification le 07/03/2019 - Annule et remplace les Précédentes</i>

        <p>Célia Melesville, (ci-après le « Vendeur») fabrique et commercialise des produits d’oracles, tarots,
          livres, papetterie par l’intermédiaire de son site Internet accessible à l’adresse
          www,celiamelesville,com La liste et le descriptif détaillé des biens proposés par le Vendeur peuvent
          notamment être consultés sur le Site www.celiamelesville,com</p>
        Vous, (ci-après « le Client ») souhaitez procéder à l’achat de Produits du Vendeur. Le Client déclare
        avoir la pleine capacité juridique lui permettant de s’engager au titre des présentes conditions
        générales. Le fait de passer commande implique l’adhésion entière et sans réserve aux présentes.
        <p>Les présentes Conditions Générales de Vente (ci-après le « Contrat ») déterminent les droits et
          obligations des parties dans le cadre de la vente en ligne des Produits proposés par le Vendeur. Le
          Client déclare avoir pris connaissance de l’ensemble des présentes Conditions Générales de Vente, et
          le cas échéant des Conditions Particulières de Vente liées à un produit ou à un service, et les
          accepter sans restriction ni réserve.</p>
        <p>Tous les Produits fournis par le Vendeur sont soumis au présent Contrat qui prévaut sur toute autre
          version ou document contradictoire. Notamment, le Contrat prévaut sur toutes éventuelles conditions
          générales du Client. En cas de modification du Contrat, les seules Conditions Générales de Vente
          applicables sont celles en vigueur à la date de la commande dont une copie datée à ce jour peut être
          remise à sa demande au Client.</p>

        <h2>ARTICLE 1. PRODUITS</h2>

        <p>Les caractéristiques essentielles des Produits ainsi que leurs prix respectifs ont été mis à disposition
          du Client sur le Site. Le Client atteste avoir reçu un détail des éventuels frais de livraison ainsi que les
          modalités de paiement, de livraison et d’exécution du Contrat. Le Client reconnaît ainsi que,
          préalablement à toute commande, il a bénéficié des informations et conseils suffisants de la part du
          Vendeur lui permettant de s’assurer de l’adéquation des Produits à ses besoins.</p>
        <p>Chaque Produit proposé sur le Site est accompagné d’une ou plusieurs photographies, d’un texte
          descriptif des matières et couleurs, ces informations ne sont en aucun cas contractuelles. Les
          descriptions et photographies des Produits vendus sur le Site sont le plus exactes et le plus fidèles à
          la réalité possible. Toutefois, les couleurs, dimensions, textures et autres caractéristiques des Produits
          peuvent être altérées par les écrans ou navigateurs internet utilisés pour les visualiser. Le Client
          reconnaît donc que les photographies, descriptions ou graphismes accompagnant et illustrant les
          Produits proposés à la vente sur le Site sont indicatifs et non contractuels et ne sauraient engager la
          responsabilité du Vendeur en cas d’erreur, d’omission ou de modification.</p>
        <p>La durée de validité de l’offre des Produits ainsi que leurs prix sont précisés sur le Site, tout comme la
          durée de fourniture lorsque le Produit est proposé de manière continue ou périodique. Les
          commandes sont acceptées dans la limite des stocks disponibles, étant précisé que le Vendeur peut
          limiter volontairement le nombre de Produits mis en vente. L’indisponibilité définitive ou temporaire
          d’un Produit ne saurait en aucun cas engager la responsabilité du Vendeur et ne saurait ouvrir droit au
          Client à indemnisation ou dommages et intérêts.</p>
        <p>Le Vendeur met en œuvre des moyens raisonnables pour s’assurer que sa plateforme de vente est
          fonctionnelle et accessible ; en cas d’anomalie découverte par le Client, celui-ci s’engage à prévenir le
          Vendeur dans les meilleurs délais afin que celle-ci puisse remédier aux éventuels
          dysfonctionnements.</p>

        <h2>ARTICLE 2. CONCLUSION DU CONTRAT</h2>


        <p>Le Client devra suivre les différentes étapes spécifiques à chaque Produit offert par le Vendeur pour
          pouvoir réaliser sa commande. Toutefois, les étapes décrites ci-après sont systématiques :</p>
        <ul>

          <li>Information sur les caractéristiques essentielles du Produit</li>
          <li>Choix du Produit, le cas échéant de ses options, et renseignement des données essentielles
            du Client (identification, adresse etc.)</li>
          <li>Acceptation des Conditions Générales de Vente.</li>
          <li>Vérification des éléments de la commande et, le cas échéant, correction des erreurs.</li>
          <li>Suivi des instructions pour le paiement jusqu’à paiement effectif des Produits et vérification de
            ses coordonnées pour la livraison</li>
          <li>Livraison des Produits ou des codes d’accès avec inscription éventuelle à la newsletter
            d’information</li>
        </ul>

        <h3>2.1. Validation du panier</h3>
        <p>Le Client peut sélectionner autant de Produits qu’il le souhaite qui s’ajouteront au panier. Le panier
          récapitule les Produits choisis par le Client ainsi que les prix et les frais y afférents. Le Client pourra
          librement modifier le panier avant validation de sa commande.</p>
        <p>La validation de la commande vaut confirmation de l’acceptation par le client du Contrat, des Produits
          achetés, de leur prix ainsi que des frais associés. Le “double clic” du Client au titre du bon de
          commande constitue une signature électronique qui a, entre les parties, la même valeur qu’une
          signature manuscrite.</p>

        <h3>2.2. Confirmation de commande</h3>
        Le Client recevra confirmation par courrier électronique du paiement de la commande, ainsi qu’un
        accusé de réception électronique de la commande, la confirmant. Le Vendeur se réserve la possibilité
        de refuser la commande pour tout motif légitime, particulièrement s’il existe un litige avec le Client
        relatif au paiement d’une commande précédente.
        Plus généralement, le Vendeur se réserve la possibilité de ne pas confirmer une commande pour
        quelque raison que ce soit (problème concernant la commande reçue ou problème
        d’approvisionnement d’articles) et dispose de 5 jours ouvrés pour indiquer au Client qu’il ne peut
        satisfaire la commande et lui demander de modifier, sinon d’annuler celle-ci. En cas d’annulation de la
        commande, le Vendeur ne peut être tenu à aucune indemnité d&#39;annulation en dehors du
        remboursement du prix du Produit indisponible.
        <h3>2.3. Livraison</h3>
        Pour les Produits livrés, cette livraison se fera à l’adresse physique indiquée par le Client. Aux fins de
        bonne réalisation de la commande, et conformément à l’article 1316-1 du Code civil, le Client
        s’engage à fournir ses éléments d’identification véridiques.
        Conformément aux dispositions de l’article L 121-20-3 du Code de la Consommation, les Produits
        commandés sont livrés dans les délais indiqués sur le Site ou lors de la confirmation de la commande,
        et au plus tard dans un délai de 30 jours ouvrables à compter de la commande. Les délais indiqués
        sur le Site et lors de la confirmation de la commande ne le sont qu’à titre indicatif et correspondent au
        délai moyen de traitement et d’acheminement du colis.
        A titre indicatif, voici selon les informations fournies par le service Colissimo de La Poste les délais de
        livraison habituels, en jours ouvrés :
        <ul>

          <li>France : Colissimo Suivi avec assurance 48 h</li>
          <li>Europe : Colissimo Suivi Europe avec assurance 3 à 5 Jours</li>
          <li>Dom – Tom : Colissimo Suivi Dom – Tom avec assurance 3 à 8 Jours</li>
          <li>Reste du Monde : Colissimo Suivi International avec assurance 5 à 10 Jours</li>
        </ul>
        <p>Tous les colis sont envoyés en lettre suivie ou colissimo. Le Client recevra commande en mains
          propres, soit directement à l’adresse de livraison prévue, soit à son bureau de poste habituel en cas
          d’absence. Les Produits sont livrés dans le monde entier. Il est précisé que tout changement
          d’adresse de livraison effectué le Client postérieurement à l’enregistrement de la commande peut
          entraîner un allongement du délai de livraison.</p>
        <p>Le Client doit vérifier en présence du transporteur l’état des Produits de sa commande et signaler
          précisément sur le bon de livraison du transporteur toute réserve en cas d’article manquant ou
          endommagé. Le Vendeur et les transporteurs étant des entités distinctes et indépendantes, le
          Vendeur ne peut être tenu responsable pour un quelconque retard et erreur de livraison ou perte de
          colis imputable au transporteur validé par le Client.</p>

        <h2>ARTICLE 3. RÉMUNÉRATION</h2>

        <h3>3.1 Prix</h3>
        <p>Les prix affichés sur le Site sont exprimés en euros, toutes taxes comprises (Si TVA française et
          autres taxes applicables au jour de la commande), hors participation aux frais d’emballage, de
          traitement de la commande et de port.</p>
        <p>Le paiement de tous les Produits s’effectue en euros quel que soit le pays de livraison. Les frais
          d’emballage, de traitement de la commande et de port sont indiqués avant validation de la commande.
          Si les commandes sont passées hors de France, le Client peut dans certaines situations ne pas être
          redevable de la TVA mais il devra s’acquitter des droits de douanes. Le Vendeur ne peut être tenu
          responsable du paiement de ces sommes. Le Client est seul responsable de la vérification des
          possibilités d’importation des produits commandés au regard des droits du territoire du pays de
          livraison.</p>
        <p>Les Produits sont facturés sur la base du tarif en vigueur à la validation de la commande. Ces tarifs
          peuvent être révisés lors d’offres promotionnelles ou d’opérations ponctuelles ou en raison d’évolution
          du cadre économique, législatif et fiscal. Les frais de télécommunication nécessaires à l’accès au Site
          Internet sont à la charge du Client.</p>
        <h3>3.2 Paiement</h3>
        <p>Le paiement est exigible immédiatement à la commande, y compris pour les Produits en
          précommande. La vente ne sera considérée comme définitive qu&#39;après envoi de la confirmation de
          l&#39;acceptation de la commande par le Vendeur et encaissement de l&#39;intégralité du prix.
          Le Client peut effectuer le règlement par Paypal principalement. Autres mode de payement possible à
          confirmer avec le vendeur.</p>
        <p>Le paiement sécurisé en ligne par carte bancaire est réalisé par l’intermédiaire du prestataire de
          paiement Paypal. Le Vendeur n’accepte que certaines cartes indiquées par le prestataire de
          paiement. Ainsi les cartes émises par des banques domiciliées hors de France doivent
          obligatoirement être des cartes bancaires internationales. Les informations transmises sont chiffrées
          dans les règles de l’art et ne peuvent être lues au cours du transport sur le réseau. Toute garantie
          quant à la sécurité de ce système est entièrement de la responsabilité du sous-traitant et ne saurait
          être imputée au Vendeur. En payant, le Client accepte sans réserve les conditions générales de
          Paypal accessibles ici : https://www.paypal.com/fr/webapps/mpp/ua/legalhub-full</p>
        <p>Une fois le paiement lancé par le Client, la transaction est immédiatement débitée après vérification
          des informations. Conformément à l’article L. 132-2 du Code monétaire et financier, l’engagement de
          payer donné par carte est irrévocable. En communiquant ses informations bancaires lors de la vente,
          le Client autorise le Vendeur à débiter sa carte du montant relatif au prix indiqué. Le Client confirme
          qu’il est bien le titulaire légal de la carte à débiter et qu’il est légalement en droit d’en faire usage. En
          cas d’erreur, ou d’impossibilité de débiter la carte, la vente est immédiatement résolue de plein droit et
          la commande annulée. Les données enregistrées par la plateforme de paiement et conservées par le
          Vendeur constituent la preuve de la commande et de l’ensemble des transactions entre le Client et le
          Vendeur.</p>


        <p>Les Produits demeurent la propriété pleine et entière du Vendeur jusqu’au complet encaissement du
          prix de chaque commande. Jusqu’à cette date, la marchandise livrée est considérée comme
          consignée et le Client supporte le risque des dommages que ce matériel pourrait subir ou occasionner
          pour quelque cause que ce soit.</p>

        <h2>ARTICLE 4. DURÉE ET DROIT DE RÉTRACTATION</h2>

        <p>Le présent Contrat prend effet au jour de son acceptation et est conclu pour la durée nécessaire à son
          exécution.</p>
        <p>Conformément à l&#39;article L.121-21 du code de la consommation, le Client non-professionnel bénéficie
          quoiqu’il en soit du droit légal de se rétracter du présent Contrat, sans donner de motif dans un délai
          de quatorze (14) jours calendaires suivant le jour de réception des Produits. A l’expiration de ce délai
          de rétractation, et sauf cas de force majeure, il est expressément convenu entre les parties que le
          Produit ne pourra faire l’objet d’aucun remboursement de la part du Vendeur. Le droit de rétractation
          est inapplicable en cas de commande de Produits confectionnés à la demande du Client ou nettement
          personnalisés (par exemple, demande de message ou de dédicace etc.) Le Vendeur tient à rappeler
          que les dispositions relatives au délai de rétractation prévues en droit de la consommation ne
          s’appliquent pas aux contrats conclus entre professionnels.</p>
        <p>L’exercice du droit de rétractation entraine le remboursement de toutes les sommes qui auraient pu
          être versées par le Client au Vendeur, sans retard excessif et, en tout état de cause, au plus tard
          quatorze (14) jours à compter du jour où le Vendeur est informé de la décision de rétractation du
          Contrat par le Client. Le Vendeur procédera au remboursement sans frais en utilisant le même moyen
          de paiement que celui que le Client aura utilisé pour la transaction initiale et ce, sauf accord express
          contraire ultérieur.</p>
        <p>Le port retour est à la charge du Client. Le retour de la marchandise devra obligatoirement s’effectuer
          dans les emballages d’origine avec une copie de la facture. Tous Produits utilisés ou endommagé par
          le Client ne seront pas échangés.</p>
        <p>En cas de demande de remboursement, le Vendeur accusera réception de la demande et y fera droit
          dans les meilleurs délais. Le Client note que le remboursement effectué sur ses cartes bancaires est
          tributaire des délais techniques imposés par le prestataire de paiement qui sont en général de l’ordre
          de quelques jours (délai indicatif de 8 jours), qui peut varier selon les cas particuliers. En cas de non
          réception du retour de paiement après 8 jours, le Client s’engage à en informer le Vendeur afin que
          celui-ci puisse retracer l’origine du problème éventuel.</p>
        <p>Pour exercer le droit de rétractation, vous devez nous notifier votre décision par courrier électronique
          ou postal adressé à celia.melesville@gmail.com . Vous pouvez pour cela utiliser le modèle de
          formulaire ci-dessous ou tout autre texte dénué d’ambiguïté.</p>
        <p>MODÈLE DE FORMULAIRE DE RÉTRACTATION (À utiliser uniquement si vous souhaitez vous
          rétracter du Contrat)</p>
        <pre>A l&#39;attention de &lt; compléter de vos nom, adresse postale, email et fax éventuellement &gt; :
        Je vous informe par la présente de ma rétractation du Contrat portant pour la commande ci-dessous
        Produit :
        Commandé le :
        Votre nom :
        Votre adresse :
        Date :
        Signature si envoi par courrier ou par télécopie</pre>
        <h2>ARTICLE 5. PROPRIÉTÉ INTELLECTUELLE</h2>

        <p>Tous les éléments graphiques ou intellectuels originaux (structure générale et contenu des
          documents, charte graphique, textes, images, sons et tout autre élément composant le Site et les
          Produits) fournis ou présentés par le Vendeur sont protégés par le droit d’auteur au sens des articles
          L. 111-1 et suivants du Code de la propriété intellectuelle. Ils sont et restent la propriété exclusive du
          Vendeur de sorte qu’aucune cession de droits de propriété intellectuelle n’est réalisée au travers du
          Contrat.</p>
        <p>Le Vendeur est seul titulaire des droits de propriété intellectuelle sur les Produits. À cet effet, toutes
          reproductions diffusées sur le Site demeurent la propriété exclusive du Vendeur. Toute reproduction,
          utilisation ou transformation de l’image des Produits nécessite l’accord préalable express du Vendeur.
          Le Client reconnaît ainsi expressément que toute reproduction totale ou partielle, avec ou sans
          modification du Site ou des Produits pour quelque motif que ce soit est strictement interdite. Toute
          violation du présent article de sa part constituerait une contrefaçon, susceptible de sanctions pénales
          et civiles en application des articles L. 335-2 et suivants du Code de la Propriété Intellectuelle.</p>

        <h2>ARTICLE 6. LIMITATION DE RESPONSABILITÉ</h2>

        <p>Conformément à la loi, le Vendeur garantit la conformité des Produits avec la législation française en
          vigueur, la véracité des informations présentées lors des argumentaires commerciaux et les vices
          cachés des produits hors défauts indépendants de sa volonté.</p>
        <p>La responsabilité du Vendeur est limitée aux engagements pris en application du présent Contrat et
          ne saurait être engagée en raison notamment: (i) des dommages dus à l’inexécution, totale ou
          partielle, de ses obligations par le Client ou (ii) des dommages directs ou indirects découlant de
          l’utilisation du Site ou des Produits.</p>
        <p>Les Parties conviennent expressément que tout préjudice subi par un tiers ou toute action dirigée
          contre le Client par un tiers constitue un dommage indirect et n’ouvre pas droit à réparation par le
          Vendeur.</p>
        <p>Aucune des Parties ne sera responsable d’un retard ou d’une défaillance d’exécution du Contrat qui
          serait dû à un cas de force majeure, un cas fortuit ou une cause extérieure, tels que, notamment, le
          mauvais fonctionnement ou les interruptions du réseau électrique ou de télécommunication, la
          paralysie du réseau liée à une attaque informatique, l’intervention des autorités gouvernementales, les
          catastrophes naturelles, les dégâts des eaux, les tremblements de terre, le feu, les explosions, les
          grèves et les conflits sociaux, l’état de guerre ou toute autre cause échappant au contrôle raisonnable
          du Vendeur. Toutefois, si le cas de force majeure, le cas fortuit ou la cause extérieure avait une durée
          d’existence supérieure à trente (30) jours consécutifs, il ouvrirait droit à la résiliation de plein droit des
          présentes Conditions Générales par l’une ou l’autre des parties, huit jours après l’envoi d’une lettre
          recommandée avec avis de réception notifiant cette décision.</p>
        <p>En tout état de cause, dans l&#39;hypothèse où la responsabilité du Vendeur serait retenue à quelque titre
          que ce soit, le montant total des indemnités que le Vendeur pourrait être amené à verser au Client
          professionnel ne pourra excéder le montant perçu par le Vendeur au titre du présent Contrat, et ce,
          quels que soient le fondement juridique de la réclamation et la procédure employée pour la faire
          aboutir.</p>

        <h2>ARTICLE 7. DONNÉES PERSONNELLES</h2>

        <p>Le Vendeur respecte les Données Personnelles du Client conformément à la Loi Informatique et
          Libertés du 6 janvier 1978. En adhérant à ces Conditions Générales de Vente, le Client consent à ce
          que le Vendeur collecte et utilise ces données aux fins d’exécution des présentes, de prospection
          commerciale et de gestion de la commande. Le Client est informé que ces données pourront faire
          l’objet d’analyses statistiques de la part du Vendeur et pourront être cédées à des tiers et partenaires
          si le Client y a expressément consenti.</p>
        <p>Les données traitées sont conservées conformément à la Norme Simplifiée n°48 de la Commission
          Nationale Informatique et Libertés.</p>
        <p>En saisissant son adresse email sur le Site du Vendeur, le Client accepte de recevoir des emails
          contenant des informations et des offres promotionnelles concernant des Produits édités par le
          Vendeur et ses partenaires. Le Client bénéficie d’un droit d’accès, de modification et de rectification et
          peut se désinscrire à tout instant. Il suffit pour cela de cliquer sur le lien présent à la fin des emails du
          Vendeur, d’écrire à l’adresse celia.melesville@gmail.com ou de contacter le Vendeur par lettre
          recommandée avec accusé de réception. En cas de réclamation, vous pouvez également vous
          adresser à la CNIL.</p>
        <p>Le cas échéant, le Vendeur est susceptible de recourir à des sous-traitants pour effectuer le paiement,
          la gestion de la facturation, des commandes, la gestion de la newsletter ou la mise en place de pages
          web, auquel cas les données personnelles du Client leur seront transférées. Ces prestataires résident
          généralement aux Etats-Unis, le Client accepte donc que ses données personnelles soient
          transférées outre-atlantique.</p>

        <h2>ARTICLE 8. DISPOSITIONS GÉNÉRALES</h2>
        <h3>INTÉGRALITÉ DU CONTRAT</h3>
        Les parties reconnaissent que le présent Contrat constitue l&#39;intégralité de l&#39;accord conclu entre elles
        et
        se substitue à toute offre, disposition ou accord antérieurs, écrits ou verbaux.
        <h3>MODIFICATION DU CONTRAT</h3>
        Le Vendeur se réserve la possibilité de modifier les présentes Conditions Générales de Vente, à tout
        moment, par la publication d’une nouvelle version sur le Site. Les Conditions Générales de Vente
        applicables alors sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas
        de paiements multiples) de la commande. Ces Conditions Générales de Vente sont consultables sur
        le Site à l&#39;adresse suivante : www.celiamelesville.com
        <h3>RENONCIATION</h3>
        Le défaut pour le Vendeur d&#39;exercer les droits qui lui sont reconnus en application des présentes ne
        constitue en aucun cas une renonciation à faire valoir ces droits.
        <h3>NULLITÉ</h3>
        Dans l&#39;hypothèse où l&#39;une quelconque des dispositions des présentes serait annulée par une décision
        de justice, cette décision ne sera pas de nature à remettre en cause la validité des autres dispositions
        qui continueront de s&#39;appliquer.
        Les titres des articles n&#39;ont qu&#39;une valeur indicative.
        <h2>ARTICLE 9. LOI APPLICABLE - JURIDICTIONS</h2>

        <p>La loi applicable au présent Contrat est la loi française. Seul le texte français du Contrat fera foi en cas
          de litige.
          En cas de difficulté d’exécution ou d’interprétation avec un Client professionnel, les parties
          conviennent expressément de faire attribution de juridiction aux Tribunaux compétents du siège social
          du Vendeur. A défaut, le droit commun s’applique.</p>
      </section>



    </div>

  </div>
  {{> footer}}

</body>

</html>