{{> header title='Celia Melesville - contact'}}

<body>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">

      <section class="container section">
        <h1>Contact</h1>

        {{!-- <div style="font-size:2em;color:red">
          <p>
            Nous prenons quelques vacances pour cette fin d'année. Les mails seront donc en attente du 20 décembre au 6
            janvier 2020.
          </p>
          <p>
            Merci de votre compréhension et bonnes fêtes 🌟
          </p>

        </div> --}}
        <p>
          Le nombre de messages étant trop important pour que je puisse les traiter seule, vous allez être mis en
          contact avec ma merveilleuse collaboratrice Magali à l'adresse suivante : <a
            href="mailto:contact@celiamelesville.com">contact@celiamelesville.com</a>
        </p>
        <p>
          Avant de nous contacter vous trouverez ci-joint <strong>les réponses aux questions que l'on nous pose
            fréquemment</strong>.
        </p>
        <p>
          Merci pour votre compréhension et votre bienveillance.
        </p>
        <p>
          Célia
        </p>
        <div>
          <h4>Un problème sur un jeu ?</h4>
          N'oubliez pas de m'envoyer une photo avec votre mail. Je vous recontacte rapidement.

          <h4>Au sujet des Livraisons et des commandes</h4>
          Lors de la validation de la commande vous recevrez un mail de PayPal, assurez-vous que l’adresse sur le compte PayPal soit celle à laquelle vous souhaitez être livré.e.
          Toutes les commandes passées sur le site passent automatiquement en préparation et vous recevrez bientôt un mail avec votre futur numéro de suivi.
          {{!-- <h4>Au sujet du Tanis Lenormand</h4>
          La première édition est épuisée. J'envisage une seconde édition pour l'an prochain sans avoir
          encore de date précise. Mais, promis, il reviendra ;) --}}
          <h4>Au sujet des Lili White</h4>
          Une 2nd édition est prévue pour la fin de l'année 2020. Nous n'avons pas encore de date précise.

          <h4>Un problème avec la boutique?</h4>
          Mon site et ma boutique ne fonctionne parfois pas bien sur MAC avec Safari, je vous invite à réessayer avec un
          autre appareil (navigateur chrome ou firefox). Si le problème persiste n'hésitez pas à nous
          renvoyer un mail.
          <h4>Vous avez des questions sur l'auto-édition?</h4>
          La création d'un oracle est une magnifique aventure mais aussi très longue et complexe à
          expliquer (surtout par mail). Cela demanderait un accompagnement et malheureusement je ne
          propose pas de faire ce genre de chose. Je vous invite à vous renseigner sur l'auto édition (
          "Créer une maison d'édition" le livre de DC Watson est une très bonne ressource). Je vous
          souhaite une belle continuation dans votre grande aventure !

        </div>


      </section>



    </div>

  </div>
  {{> footer}}

</body>

</html>