{{> header title='Celia Melesville - contact'}}

<body>
  <div class="wrapper">

    {{> menuheader}}


  <div class="main">

    <section class="container section">
      <h1>Contact</h1>
      <div style="display: flex">
      Pour toute demande n'hésitez pas à me joindre à l'adresse suivante :  <a href="mailto:celia.melesville@gmail.com"> celia.melesville[at]gmail.com</a>

      </div>
    </section>



  </div>

  </div>
  {{> footer}}

</body>
</html>