{{> header title='Séances individuelles - Art et Conscience' }}

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
        <h1>Séances Individuelles</h1>
        <div class="block-info">

        <div class="block-info block-info--primary">
          <p><strong>Pour qui ?</strong>

          Enfants, Adolescents, Adultes</p>

          <p><strong>Temps de séance:</strong>

          Entre 50 minutes et 1 Heure selon les besoins.</p>

          <p><strong>Jours et horaires:</strong>

          Du mardi au jeudi à partir de 18h00 et le vendredi matin de 9h00 à 12h00</p>

          <p><strong>Durée de la thérapie:</strong>

          Autant que de besoin, en fonction des objectifs et des envies de la personne.</p>

          <p><strong>Honoraires:</strong>

          <p>36 euros pour un Adulte / Adolescent</p>

          <p>32 euros pour un enfant (jusqu'à 14 ans)</p>
        </div>

        <div>
        <h2>Activités proposées</h2>
        <ul>
          <li>Dessin ( crayon, feutre, pastel )</li>
          <li>Peinture (guache, acryllique, aquarelle)</li>
          <li>Collages</li>
          <li>Ecriture</li>
          <li>Modelage et sculpture sur argile</li>
        </ul>

        </div>

        <p>Il m'arrive de proposer au court d'une séance un petit temps dédié à la respiration ou à de courtes méditations pour relacher les tensions. Pour aider à libérer l'expression artistique je peux également utiliser de la musique en fond sonore.</p>

        <h2>Déontologie</h2>

        Les séances sont soumises au cadre du soin qui comprend notamment la confidentialité, le non-
        jugement et le respect des personnes.

        <h2>Art-thérapie et psychothérapie</h2>

        Art-thérapie et psychothérapie peuvent être tout à fait complémentaires. L’une peut diriger vers l’autre ou les deux peuvent se suivre simultanément.
    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>