{{> header title='Celia Melesville - Thank you'}}

<body>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">

      <section class="container section">
        <h1>Merci !</h1>
        <div>
          Merci pour votre paiement. Votre commande a bien été prise en compte et vous recevrez sous peu un email
          indiquant votre numéro de suivi.
        </div>
        <div>

          Thank you for your payment. Your transaction is over and you will soon receive an email with your tracking
          number.
        </div>
      </section>



    </div>

  </div>
  {{> footer}}

</body>

</html>