{{> header title='Boutique - Celia Melesville' }}

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
        <h1>Boutique</h1>
        <div>

        </div>
    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>