{{> header title='Boutique - Celia Melesville' }}
<script src="https://cdn.ravenjs.com/3.13.1/raven.min.js"></script>

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
        <h1>Boutique</h1>
        <div id="boutique-container">
        </div>
    </section>


  </div>

  </div>
  <script>
    Raven.config('https://ec4ac1e9c76b4352b0d90e51db6afb27@sentry.io/151911').install()
  </script>
<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script type="text/javascript" src="https://celiamelesville.com/bundle.js"></script>
  {{> footer}}
</body>
</html>