.header {
  position: relative;
}
.top-header {
  overflow: hidden;
  min-height: 200px;
  position: relative;
}

.site-title {
  font-size: 5em;
  text-align: center;
  color: #222;
  font-family: 'Ruthie', cursive;
}

.site-title a {
  text-decoration: none;
  color : inherit;
}
