.header {
  position: relative;
  background: url(/assets/banniere.jpg) no-repeat #fff;
  background-position: 37px -21px;
}
.top-header {
  min-height: 200px;
  position: relative;
  padding-bottom: 1em;
}
@media all and (max-width: 910px) {
  .top-header {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }
}

.left-title {
  position: absolute;
}

.left-title a:before {
  content: "✉";
}
.left-title a {
  text-decoration: none;
  font-size: 1em;
}
.top-header img {
  left: 0;
  top: 10px;
  display: block;
  /*width: 300px;*/
  /*height: auto;*/
}

h1.site-title {
  margin: 0;
  padding-top: 0;
  font-size: 5em;
  text-shadow: 2px 2px 2px #222;
}

.site-title {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-family: "Ruthie", "Helvetica";
}

.site-title a {
  text-decoration: none;
  color: inherit;
}
.soustitre {
  font-size: 2em;
  font-weight: 200;
  font-family: "Calligraffitti", "Helvetica";
  margin: 0;
}

.social {
  position: absolute;
  padding: 1em;
  right: 0;
  top: 0;
  display: flex;
}
.social img {
  margin: 20px;
}

.socialbar {
  display: flex;
  height: 50px;
  /* padding: 0.5em; */
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.social-wrap {
  margin-left: auto;
  display: flex;
}
.social-title {
  font-size: 1.2em;
  font-family: Lato, Helvetica, sans-serif;
  margin: 0 1em;
  line-height: 50px;
  color: rgb(95, 95, 95);
}

.socialcontainer {
  display: flex;
  flex: 1 1 auto;
}
.socialcontainer a,
.socialcontainer div {
  display: block;
  margin: 0 1em;

  color: #555;
  font-weight: 500;
  white-space: nowrap;
}
.socialcontainer img {
  margin-top: 10px;
}

@media screen and (max-width: 530px) {
  .social-title {
    display: none;
  }
  .social-wrap {
    margin: 0;
  }
}
