html {
  min-height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Lato|Calligraffitti|Ruthie);

body {
  background-image: url("../assets/fond3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

h2,
h3 {
  text-align: center;
}
h4 {
  font-size: 1.2em;
}

ul {
  padding: 0;
}
ul li {
  margin: 3px 0 0;
}

.wrapper {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  border: 2px solid #fff;
  border-top: 5px solid #fff;
  padding: 10px;
  /*display: flex;*/
  /*flex-direction: column;*/
  flex: 1;
  width: 100%;
}

.main {
  max-width: 1200px;
  margin: auto;
}
