.menu {
  font-family: 'Signika', cursive;
  background: #a7a0ba;
  padding:5px;
  font-size: 1.4em;
  border-radius: 10px ;
  box-shadow: 0 0 10px rgba(255,255,255,0.8)
}

.menu ul{
  list-style: none;
  margin:0;
  display: flex;
  flex-wrap:wrap;
  /*width: 100%;*/
}
.menu li {
  position: relative;
  margin: 0 0.4em;
  cursor: pointer;
  flex: 1;
}

.menu li a {
  text-decoration : none;
  color : #222;
}

.menu li:hover, .menu li a:hover{
  color : #F3980A;
}
.menu li:hover .sous-menu  {
  display: block!important;
}


.sous-menu {
  position: absolute;
  display: none!important;
  padding:0;
  margin:0;
  background: #76A8CB;
  border: 2px solid #fff;
  border-top : none;
  padding:2px 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.4);
  border-radius: 0 0 5px 5px;
  z-index: 1000;
}
.sous-menu a {
  transition: color 0.2s ease;
}
.sous-menu li {
  font-size: 0.8em;
  width: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;

  height: 40px;
  margin:0;
  color : #222;
  line-height: 2;

}

