{{> header title='Celia Melesville'}}


<body>
  <div class="wrapper">

    {{> menuheader}}


  <div class="main">

    <section class="container section">
      <h1>Cartomancie - Guidance</h1>
      <div class="side-container">
        <div style="flex:1;padding-right: 3em">

        <p>Je vous propose ici des tirages qui vous aideront à <strong>comprendre les enjeux d'une situation</strong>
           ou d'un comportement et qui vous guideront pour trouver, en vous,
           les clefs qui vous permettront de les appréhender au mieux et de <strong>faire vos choix en toute conscience</strong>.</p>

        <p>Pour moi, l'avenir n'est pas écrit, nous avons juste à faire face à de nombreux choix et <strong>les oracles et tarots sont des outils qui nous guident</strong>
          et nous aident à trouver les ressources en nous qui nous permettront de <strong>relever les défis qui se présentent.</strong></p>

        <p>Comme outils de guidance, <strong>je privilégie l'utilisation des tarots et oracles</strong> car depuis 15 ans que je travaille avec eux
          j'ai constaté qu'aux travers de leurs symboles et la justesse de leurs conseils <strong>ils sont de merveilleux accompagnateurs</strong>
          vers une meilleure connaissance de soi (et des autres), mais également pour entrer en relation avec nos guides.</p>

        <p>Depuis 2016 j'exerce la cartomancie et la guidance de façon professionnel.</p>

        <p><strong>Mes outils de guidance </strong>: Tarots , oracles , voyages chamaniques.</p>

        <h2>Comment se déroule une consultation :</h2>
        <ul>
          <li>Choisissez la formule de tirage que vous souhaitez. (voir ci-contre) </li>
          <li>Envoyez moi votre demande par mail : <div style="text-align: center">celia.melesville[at]gmail.com</div>
          <div style="color:#777">S'il y a besoin, je vous aiderais à préciser votre question ou à bien la formuler.</div>
            <strong>Il est très important de savoir poser la bonne question pour que les conseils apportés répondent à vos aspirations.</strong></li>
          <li>Réservez votre tirage en participant à la cagnotte ou en effectuant un virement Paypal.</li>
        </ul>

        <h2>Déontologie</h2>
        <p>
          Les séances sont soumises au cadre du soin qui comprend notamment la confidentialité, le non-
jugement et le respect des personnes.
        </p>

        </div>

        <div class="side-content">
          <div>

          <div class="block-info--primary">
            <h2>Réservez votre tirage</h2>
            <p class="sous-titre-h3">Compte rendu écrit ou vidéo</p>
            <ul>
              <li>Tirage en 3 cartes : 15 €</li>
              <li>Tirage complet, faire le point sur une question ou une situation : 30 €</li>
            </ul>
            <p class="sous-titre-h3">Consultation sur skype</p>
            <p>Session de 45 min : 36 €

          </div>

          <div class="block-info">
            <h3>Horaires des consultations</h3>
            <div class="block-info-sml">
            <p>Lundi – Mardi – Mercredi – Jeudi </br>de 18h à 21h</p>
            <p>Vendredi – Samedi </br>de 8h30 à 12h00 et de 13h00 à 20h00</p>
            </div>
          </div>
                      <img src="../assets/guidance.jpg" style="margin-top:1em;max-width: 100%"/>


          </div>

          <!--<div>
            <h2>Témoignages</h2>
          </div>-->
        </div>

      </div>

    </section>



  </div>

  </div>
  {{> footer}}

</body>
</html>