{{> header title='Boutique - Celia Melesville' }}

<body>
  <style>
    .preorder {
    color: #7a6aa5;
    background: #dedce4;
    border-radius: 10px;
    }
    img {
      max-width: 100%;
    }
  </style>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section" style="display: flex">
        <h1>Tanis Lenormand <small>by Celia Melesville</small></h1>

      <img src="/assets/tanis-title.jpg" width="500" style="margin: 0 auto"/>


      <h3 class="preorder">Pre-Order / Pre-commander</h3>
      <div id="preorder" style="text-align: center">


        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <strong>Pre order Tanis Lenormand with Shipping and a gift</strong> <select name="os0">
          <option value="To France">To France €32.00 EUR</option>
          <option value="To World">To World €40.00 EUR</option>
        </select>
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="test@gmail.com">
        <input type="hidden" name="lc" value="BM">
        <input type="hidden" name="item_name" value="Tanis Lenormand + Shipping + Gift">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="currency_code" value="EUR">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="hidden" name="on0" value="Shipping">
        <input type="hidden" name="currency_code" value="EUR">
        <input type="hidden" name="option_select0" value="To France">
        <input type="hidden" name="option_amount0" value="32.00">
        <input type="hidden" name="option_select1" value="To World">
        <input type="hidden" name="option_amount1" value="40.00">
        <input type="hidden" name="option_index" value="0">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

      </div>

      <div style="text-align: center">
      <p>This deck includes 40 cards and a book ( is bilingual so it is also in English) to help you interpret your spreads.</p>

      <p>Ce jeu est constitué de 40 cartes et d'un petit livre pour vous aider dans l'interprétation de vos tirages</p>
      </div>

      <img src="/assets/tanis1.jpg" width="500" style="margin: 10px auto"/>


      <img src="/assets/tanis2.jpg" width="500" style="margin: 10px auto"/>
        </div>
    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>