{{> header title='Boutique - Celia Melesville' }}

<body>
  <style>
    .preorder {
      color: #7a6aa5;
      background: #dedce4;
      border-radius: 10px;
      font-size: 2em;
      text-align: center;
      padding: 1em;
      margin: 1em;
      transition: all ease 0.2s;
    }

    .preorder:hover {
      background: rgba(167, 160, 186, 0.7);
      color: #fdfcff;
    }

    img {
      max-width: 100%;
    }
  </style>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">

      <section class="container section" style="display: flex">
        <h1>Tanis Lenormand <small>by Celia Melesville</small></h1>

        <img src="/assets/tanis-title.jpg" width="500" style="margin: 0 auto" />


        <a class="preorder" href="https://celiamelesville.com/boutique/#/produit/tanis">Order / commander</a>


        <div style="text-align: center">
          <p>This deck includes 40 cards and a book ( is bilingual so it is also in English) to help you interpret your spreads.</p>

          <p>Ce jeu est constitué de 40 cartes et d'un petit livre pour vous aider dans l'interprétation de vos tirages</p>
        </div>

        <div class="slightbox-container">

          <a href="/assets/tanis1.jpg"><img src="/assets/tanis1.jpg" width="500" style="margin: 10px auto;display:block" /></a>

          <a href="/assets/tanis2.jpg"><img src="/assets/tanis2.jpg" width="500" style="margin: 10px auto;display:block" /></a>
        </div>

        <div class="slightbox-container" style="margin: 10px auto;display:block">


          <a href="/assets/tanis/0.jpg">
            <img height="250" src="/assets/tanis/0.jpg"></a>
          <a href="/assets/tanis/1.jpg">
            <img height="250" src="/assets/tanis/1.jpg">
          </a>
          <a href="/assets/tanis/2.jpg">
            <img height="250" src="/assets/tanis/2.jpg">
          </a
        </div>
    </div>
    </section>


  </div>

  </div>
  {{> footer}}
  <script src="/lightbox/index.js">

  </script>
  <script>
    slightBox.make();
  </script>
</body>

</html>