{{> header title='Art-thérapie - Art et Conscience' }}

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
        <h1>Qu'est ce que l'Art-thérapie</h1>
        <div>
          <blockquote>« L'art n'épuise rien, il transforme tout ce qu'il touche, il ajoute aux choses »</blockquote>

          <p class="subquote">Eugène Fromentin</p>
        </div>


        <img
        style="max-width:800px;width:100%;heigth:100%;margin:0 auto"
        src="/assets/illustration-art-therapie11.jpg"/>


        <p><strong>L'art-thérapie est une méthode qui utilise l'art sous toutes ses formes (peinture, dessin, collage, danse... ) dans un but thérapeutique et de développement personnel.</strong></p>

        <p>L'art-thérapie offre une façon de dépasser et transformer ses difficultés mais également d'aller à la rencontre de soi-même. Elle vous rend acteur de votre propre bien-être au travers de vos productions artistiques.</p>

        <p>L’art-thérapie est également une méthode privilégiée pour le développement et l'épanouissement personnel et s'adresse autant aux adultes, qu'aux enfants.</p>

        <p><strong>Nul besoin de savoir peindre ou dessiner pour entreprendre un travail en art-thérapie</strong> puisque le but n'est pas de faire une œuvre artistique, de « faire joli » mais de laisser le corps et l'âme parler à travers vos productions artistiques.</p>

    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>