{{> header title='Celia Melesville'}}
<style>
.bl-lk {
  font-size: 2em;
  flex: 1;
  text-align: center;
  text-decoration: none;
}
</style>

<body>
  <div class="wrapper">

    {{> menuheader}}


  <div class="main">

    <section class="container section">
      <h1>Consultations</h1>
      <div style="display: flex">

      <a class="bl-lk" href="/therapie">Thérapie
      </a>

      <a class="bl-lk" href="/guidance">Guidance
        {{!--<img src="assets/guidance.jpg" />--}}
      </a>

      </div>
    </section>



  </div>

  </div>
  {{> footer}}

</body>
</html>