<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="keywords" content="art-thérapie, atelier, toulouse">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="" sizes="120x120">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/main.css">


  </head>
