<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="keywords" content="art-thérapie, oracles, tarots, guidance, toulouse">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="https://celiamelesville.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Celia Melesville" />
  <meta property="og:description" content="art-thérapie, oracles, tarots, guidance" />
  <meta property="og:image" content="https://celiamelesville.com/assets/profil.jpg" />
  <!-- Favicons -->
  {{!--
  <link rel="shortcut icon" href="">--}} {{!--
  <link rel="apple-touch-icon" href="" sizes="120x120">--}} {{!--

  <!-- Stylesheets -->--}}
  <link rel="stylesheet" href="https://celiamelesville.com/bundle.1.4.1.css">


</head>