<div class="header">
  <a href="/" class="top-header">

    <h1 class="site-title">
      <div>Celia Melesville</div>
    </h1>
  </a>



  <nav class="menu">
    <ul>
      <li>
        <a href="/a-propos">A Propos</a>
      </li>
      <li>
        <a href="/consultations">Consultations</a>
      </li>
      <li>
        <a href="/creations">Créations</a>
      </li>
      <li>
        <a href="https://www.formation-tarot.fr">Formation</a>
      </li>
      <li>
        <a href="/boutique">Boutique</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>

    </ul>
  </nav>

</div>

<div class="socialbar">
  <div class="social-wrap">

    <div class="social-title">
      Suivez moi sur
    </div>

    <div class="socialcontainer">

      {{!-- <div class="g-ytsubscribe" data-channelid="UCxYXOEYpeeW0ye8OVrXcR0g" data-layout="full" data-count="default">
      </div> --}}
      <a href="https://www.youtube.com/channel/UCxYXOEYpeeW0ye8OVrXcR0g">
        <img src="/assets/youtube.png" alt="">
      </a>
      <a href="https://www.facebook.com/cartesetconscience/">
        <img src="/assets/facebook.png" alt="">
      </a>

      <a href="https://www.instagram.com/celiamelesville/">
        <img src="/assets/instagram.png" alt="">
      </a>
    </div>
  </div>
</div>
{{!-- <div style="color:red;font-size:1.6em;background:rgba(255,255,255,0.5);padding:0 0.5em">
  <p>Je suis en vacances du 06 au 14 Juillet. Toute commande passée durant cette période sera traitée la semaine du 15
    Juillet.
    <p>I am on vacation from 06 to 14 July. Any order placed during this period will be processed the week of July 15th.
    </p>
    <p>Merci et belle vacances à vous!</p>
</div> --}}
</div>