<div class="header">
  <div class="top-header">

    <h1 class="site-title"><a href="/">Celia Melesville</a></h1>
    <img src="/assets/logosml.png" />
    <h3 class="soustitre">
      Thérapie - Art - Guidance
    </h3>
  </div>



  <nav class="menu">
    <ul>
      <li><a href="#">Consultations</a></li>
      <li><a href="#">Guidance</a></li>
      <li><a href="/creations">Créations</a></li>
      <li><a href="/boutique">Boutique</a></li>
      <li><a href="#">A Propos</a></li>

  </ul>
</nav>

</div>