<div class="header">
  <div class="top-header">

    <h1 class="site-title"><a href="/">Celia Melesville</a></h1>


  </div>
<!--   <div class="keywords keywords-right">
    <h3>
      Celia Melesville
    </h3>
  </div> -->

  <nav class="menu">
    <ul>
      <li><a href="#">Consultations</a></li>
      <li><a href="#">Guidance</a></li>
      <li><a href="/creations">Créations</a></li>
      <li><a href="/boutique">Boutique</a></li>
      <li><a href="#">A Propos</a></li>

  </ul>
</nav>

</div>