<div class="header">
  <div class="top-header">

    <div class="logo">
      <img src="/assets/logo2.png"/>
    </div>

    <div class="keywords keywords-left">
      <h2 class="site-title">Celia Melesville</h2>
    </div>

    <div class="keywords keywords-right">
      <h3>
        ...
      </h3>

      <h3>Célia Melesville Warnier</h3>

      <p class="header-adresse">10 Impasse des Leys d'Amors </br>31100 Toulouse</p>
      <a href="mailto:contact@atelier-artetconscience.com?subject=Contact" class="header-contact"> contact@atelier-artetconscience.com</a>
    </div>


  </div>
<!--   <div class="keywords keywords-right">
    <h3>
      Celia Melesville
    </h3>
  </div> -->

  <nav class="menu">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/art-therapie">Art-thérapie</a>
        <ul class="sous-menu">
          <li><a href="/art-therapie">Qu'est ce que l'art-therapie</a></li>
          <li><a href="/seances">Séances Individuelles</a></li>
        </ul>
      </li>

      <li><a href="/enfants/art-therapie">Ateliers Enfants</a>
        <ul class="sous-menu">
          <li><a href="/enfants/art-therapie">Atelier Art-thérapie</a></li>
        </ul>
      </li>

      <li><a href="/boutique">Boutique</a>
      </li>

    </li>
  </ul>
</nav>

</div>