<div class="header">
  <div class="top-header">

    <h1 class="site-title">
      <a href="/">Celia Melesville</a>
    </h1>

    {{!--
    <div class="social">
      <a href="https://www.facebook.com/cartesetconscience/">
        <img src="https://celiamelesville.com/assets/facebook.png" alt="">
      </a>
      <a href="https://www.youtube.com/channel/UCxYXOEYpeeW0ye8OVrXcR0g">
        <img src="https://celiamelesville.com/assets/youtube.png" alt="">
      </a>
    </div> --}} {{!--
    <div class="left-title">
      <img src="/assets/logosml.png" />
      <a href="mailto:contact@atelier-artetconscience.com?subject=Contact" class="header-contact"> contact@atelier-artetconscience.com</a>
    </div>--}}

    <h3 class="soustitre">
      Thérapie - Art - Guidance
    </h3>
  </div>



  <nav class="menu">
    <ul>
      <li>
        <a href="/a-propos">A Propos</a>
      </li>
      <li>
        <a href="/consultations">Consultations</a>
        <ul class="sous-menu">
          <li>
            <a href="/therapie">Thérapie</a>
          </li>
          <li>
            <a href="/guidance">Cartomancie - Guidance</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/creations">Créations</a>
      </li>
      <li>
        <a href="/boutique">Boutique</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>

    </ul>
  </nav>

</div>

<div class="socialbar">
  <div class="social-wrap">

    <div class="social-title">
      Suivez moi sur
    </div>

    <div class="socialcontainer">

      <div class="g-ytsubscribe" data-channelid="UCxYXOEYpeeW0ye8OVrXcR0g" data-layout="full" data-count="default"></div>
      {{!--
      <div class="fb-like" data-href="https://www.facebook.com/cartesetconscience/" data-layout="button_count" data-action="like"
        data-size="large" data-show-faces="false" data-share="false"></div> --}}
      <a href="https://www.facebook.com/cartesetconscience/">
        <img src="/assets/facebook.png" alt="">
      </a>
      <a href="https://www.instagram.com/celiamelesville/">
        <img src="/assets/instagram.png" alt="">
      </a>
    </div>
  </div>
</div>
</div>