{{> header title='Celia Melesville'}}

<style>
  img {
    float:left;
    margin : 30px
  }
  @media all and (max-width: 550px) {
    img {
      display: block;
      float: none;
      margin: 0;
      max-width: 100%;
    }
  }
</style>
<body>
  <div class="wrapper">

    {{> menuheader}}


  <div class="main">

    <section class="container section">
      <h1 style="margin-bottom:0.5em">Thérapie</h1>
      <div style="text-align: center;font-size: 1.2em;color:#777">En cabinet ou à distance</div>
      <div class="side-container">
        <div style="flex:1;padding-right: 3em">
      <h2>Accompagnement thérapeutique</h2>

      <img src="assets/therapie.jpg" width="200">

      <div style="margin-top:4em">
        <span style="font-weight: bold">Consultations proposées</span>
        <ul style="margin-left: 1em">
        <li>Thérapie</li>
        <li>Théarpie familiale</li>
        <li>Thérapie conjugagale</li>
        <li>Art-thérapie</li>
        <li>Tirages psychologiques</li>
        </ul>
      </div>

      <p style="clear:both">À travers les séances de thérapie <strong>je vous accompagne vers une meilleure connaissance de
      vous</strong> et de votre relation avec les autres ainsi que dans la <strong>résolution de vos conflits
      interieurs</strong>.</p>


      <div>
        <span style="font-weight: bold">Pourquoi ?</span>
        <ul style="margin-left: 1em">
        <li>Repérer ses forces et ses faiblesses.</li>
        <li>Comprendre ses échecs et trouver des solutions.</li>
        <li>Comprendre ses émotions.</li>
        <li>Sortir de la souffrance.</li>
        <li>Mettre en place une dynamique pour se réaliser...</li>
        </ul>
      </div>

        <p><span style="font-weight: bold">Consultations proposées :</span>
        Thérapie, Théarpie familiale, Thérapie conjugagale, Art-thérapie, Tirages psychologiques</p>

      <p><span style="font-weight: bold">Pour qui ?</span> Enfants, Adolescents, Adultes</p>

{{!--      <div>
        <span style="font-weight: bold">Consultation proposée :</span>
        <ul style="margin-left: 1em">
        <li>Thérapie</li>
        <li>Théarpie familiale</li>
        <li>Thérapie conjugagale</li>
        <li>Art thérapie</li>
        <li>Tirage psychologique</li>
        </ul>
      </div>--}}
      <p><span style="font-weight: bold">Temps de séance :</span> Entre 45 minutes et 1 Heure selon les besoins.</p>

      <p><span style="font-weight: bold">Durée de la thérapie :</span> Autant que de besoin, en fonction des objectifs et des envies de la personne.</p>

      <h2>Au sujet des tirages psychologiques</h2>
      <strong>Les tirages psychologique sont des tirages à visée thérapeutique.</strong>



      <p>Lors de ce tirage nous utilisons ensemble les représentations/illustrations des cartes pour faire un
lien avec votre inconscient. Ainsi, je ne suis pas la seule à parler: vous disposez de l'espace et des
outils pour vous exprimer. Nous sommes dans un échange et j'ai recours à mes compétences de
thérapeute pour vous accompagner, vous guider et vous indiquer les blocages et solutions qui se
présenteront.</p>
      <h2>Au sujet de l'art thérapie</h2>
      <p>Art-thérapie et psychothérapie peuvent être tout à fait complémentaires. L’une peut diriger vers
l’autre ou les deux peuvent se suivre simultanément.
L'art-thérapie est une méthode qui utilise l'art sous toutes ses formes (peinture, dessin, collage,
danse... ) dans un but thérapeutique et de développement personnel.</p>

      <p>L'art-thérapie offre une façon de dépasser et transformer ses difficultés mais également d'aller à la
rencontre de soi-même. Elle vous rend acteur de votre propre bien-être au travers de vos
productions artistiques.</p>

<p>L’art-thérapie est également une méthode privilégiée pour le développement et l'épanouissement
personnel et s'adresse autant aux adultes, qu'aux enfants.</p>

<p>Nul besoin de savoir peindre ou dessiner pour entreprendre un travail en art-thérapie puisque le but
n'est pas de faire une œuvre artistique, de « faire joli » mais de laisser le corps et l'âme parler à
travers vos productions artistiques.</p>

        <h2>Déontologie</h2>
        <p>
          Les séances sont soumises au cadre du soin qui comprend notamment la confidentialité, le non-
jugement et le respect des personnes.
        </p>
        </div>



       <div class="side-content">
          <div>
            {{!--<img src="assets/tirage-psychologique.jpg" style="max-width: 100%"/>--}}

          <div class="block-info--primary">
            <h2>Tarif des consultations</h2>
            <ul>
              <li>Adulte ou Adolescent : 36 €</li>
              <li>Enfant ( jusqu'à 14 ans ) : 32 €</li>
            </ul>
            Pour prendre RDV, envoyez moi votre demande par mail : <div style="text-align: center">celia.melesville[at]gmail.com</div>

          </div>
{{!--      <div class="block-info" style="margin-bottom:1em">
        <h3>Consultation proposée :</h3>
        <ul>
        <li>Thérapie</li>
        <li>Théarpie familiale</li>
        <li>Thérapie conjugagale</li>
        <li>Art thérapie</li>
        <li>Tirage psychologique</li>
        </ul>
      </div>--}}
          <div>
            <h3>Horaires</h3>
            <p class="sous-titre-h3">Par skype ou à l'atelier à Toulouse</p>

            <div class="block-info-sml">
              <p>Lundi – Mardi – Mercredi – Jeudi </br>de 18h à 21h</p>
              <p>Vendredi – Samedi </br>de 8h30 à 12h00 et de 13h00 à 20h00</p>
            </div>

            <div class="citation" style="font-size: 1.2em;text-align: center;margin-top: 1.2em;font-weight: bold">
« La connaissance de soi</br>
est une naissance à sa propre lumière,</br>
à son propre soleil.</br>
L'homme qui se connaît</br>
est un homme vivant.»</br>
<span style="font-family: 'Lato', 'Helvetica', sans-serif;font-size: 0.7em">MM.Davy</span>
            </div>



          </div>

          </div>

        </div>
    </section>



  </div>

  </div>
  {{> footer}}

</body>
</html>