{{> header title='Créations - Celia Melesville' }}

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
        <h1>Créations : Tarots et Oracles</h1>

        <div class="carte-container">
          <div>
            <div class="titre-creation">Oracle des reflets</div>
            <a href="https://oracledesreflets.com"><img src="/assets/oracledesreflets.jpg"/></a>
          </div>

          <div>
            <div class="titre-creation">Tanis Lenormand</div>
            <a href="/tanis-lenormand"><img src="/assets/tanis.png"/></a>
          </div>

        </div>

    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>