{{> header title='Créations - Celia Melesville' }}

<body>
  <div class="wrapper">
    <style>
      .carte-container {
        display: flex;
        max-width: 100%;
      }

      .titre-creation {
        font-size: 1.5em;
        text-align: center;
        cursor: pointer;
      }

      .carte-container img {}

      .carte-container>div:hover {
        color: #a7a0ba;
      }
    </style>

    {{> menuheader}}


    <div class="main">

      <section class="container section">
        <h1>Créations : Tarots et Oracles</h1>

        <div class="carte-container">
          <div>
            <div class="titre-creation">Oracle des reflets</div>
            <a href="https://oracledesreflets.com">
              <img src="/assets/oracledesreflets.jpg" />
            </a>
          </div>

          <div>
            <div class="titre-creation">Tanis Lenormand</div>
            <a href="/tanis-lenormand">
              <img src="/assets/tanis.jpg" width="250" />
            </a>
          </div>

          <div>
            <div class="titre-creation">Lili White & Lili Black</div>
            <a href="/liliwhite-liliblack">
              <img src="/assets/lili/boites.jpg" />
            </a>
          </div>
        </div>

    </div>

    </section>


  </div>

  </div>
  {{> footer}}

</body>

</html>