{{> header title='Ateliers enfants - Art et Conscience' }}

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
        <h1>Atelier d'art-thérapie pour les enfants</h1>

        <p>L'art-thérapie vous propose de vous découvrir et de vous comprendre à travers l'utilisation des arts et de la parole.</p>
        <p>Tous les médiums sont utilisés pour partir en quête de soi : discutions, écriture, peinture, collage, danse, jeux, relaxation ... la liste est infinie et varie d'un atelier à l'autre.</p>
        <p>Ces ateliers sont également un espace où l'on peut s'exprimer à travers des gestes, des mots sans craindre d'être jugé.</p>

        <a href="/art-therapie">En savoir plus sur l'art-thérapie</a>

        <p>Les cours commencent toujours par un temps de relaxation ( 15 minutes), puis de création et enfin de partage.
        </p>

        <div class="block-info block-info--primary">
          <p><strong>Pour qui : </strong>enfants à partir de 5 ans ( maximum 6 enfants )</p>
          <p><strong>Durée des cours :</strong> 1h30</p>
          <p><strong>Tarif :</strong> 18 € le cours</p>
          <p>Les places sont limitées. Vous pouvez vous inscrire à l'année ou au cours (s'il reste des places)</p>
          <p><strong>Quand: </strong>le samedi matin de 9h30 à 11h</p>
          <a href="/seances">En savoir plus sur les séances individuelles</a>
          <p><strong>Programme : </strong></p>
          <p><strong>Samedi 10 Septembre</strong> - Relaxation et estime de soi</p>
          <p><strong>Samedi 15 Octobre</strong> - Les émotions négatives</p>
          <p><strong>Samedi 19 Novembre</strong> - La peur du noir</p>
          <p><strong>Samedi 17 Décembre</strong> - Le bonheur</p>
          <p><strong>Samedi 14 Janvier</strong> - La parole et la communication</p>
          <p><strong>Samedi 25 Février</strong> - La peur et le courage</p>
          <p><strong>Samedi 18 Mars</strong> - La création et l'imagination</p>
          <p><strong>Samedi 22 Avril</strong> - La danse et les émotions</p>
          <p><strong>Samedi 13 Mai</strong> - L'argile et la relaxation</p>
          <p><strong>Samedi 10 Juin</strong> - La découverte</p>
        </div>

    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>