{{> header title='Ateliers enfants - Art et Conscience' }}

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section ">
        <h1>Cours d'illustration pour enfants</h1>

        <blockquote>« La poésie se crée lorsque les images et les mots se complètent et s'apportent l'un, l'autre. »</blockquote>

        <p>Les cours d'illustration permettent d'apprendre à <strong>relier mots et images</strong>.

        Tout au long de l'année nous allons travailler sur différents textes pour <strong>découvrir des techniques

        d'illustrations</strong> tel que la peinture, le dessin, le collage...
</p><p>
        Au fur et à mesure des ateliers nous apprendrons également <strong>comment se découpe un texte</strong> et

        comment repérer les mots ou les phrases clés pour <strong>élaborer une illustration</strong> dessus.
</p><p>
        Enfin <strong>nous réaliserons ensemble un ou plusieurs livres</strong>
</p><p>
        <h2>Informations</h2>

        <div class="block-info block-info--primary">
          <p><strong>Pour qui : </strong>enfants à partir de 5 ans ( maximum 6 enfants )</p>
          <p><strong>Quand: </strong>Le samedi matin de <strong>9h00 à 10h15</strong></p>
          <p><strong>Durée des cours :</strong> 1h15</p>
          <p><strong>Tarif :</strong> 360 euros l'année (possibilité de payer en trois fois soit 120 euros X3)</p>
        </div>
    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>