{{> header title='Celia Melesville'}}

<style>
  .menu {
    display: none
  }

  img.rounded {
    border-radius: 50%;
    margin: 1em 0;
    object-fit: cover;
  }

  .container.section {
    display: flex;
    flex-direction: row;
    padding: 0
  }

  .bigbutton {
    display: block;
    padding: 1em 2em;
    margin: auto 1em;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
    border: 3px solid #a7a0ba;
    color: #fff;
    background: #c1bad4;
    text-align: center;
    transition: all 0.3s;
    border-radius: 1em;
    text-decoration: none;
  }

  .buttoncontain {
    margin-top: 1em;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column
  }

  .bigbutton-pad {
    padding: 1em 0;
  }

  .bigbutton:hover {
    background: #a7a0ba;
    border: 3px solid #706b7c;
  }

  .img-middle {
    display: block
  }

  .img-bottom {
    display: none;
    margin: auto
  }

  @media screen and (max-width: 922px) {

    .bigbutton {
      margin: 0.5em;
    }
    .buttoncontain {
      margin: 0
    }
    .container.section {
      flex-direction: column;
    }
    .img-middle {
      display: none
    }
    .img-bottom {
      display: flex
    }
  }
</style>

<body>
  <div class="wrapper">

    {{> menuheader }}

    <div class="main">
      <section class="container section ">
        <div class="buttoncontain">


          <a href="https://www.formation-tarot.fr" class="bigbutton bigbutton-pad">
            Formation Tarot
          </a>
          <a href="/consultations" class="bigbutton bigbutton-pad">
            Consultations
          </a>


        </div>
        <div class="img-middle" style="flex:0 1 auto">
          <img class="rounded" src="assets/profil.jpg" width="400" height="319">
        </div>

        <div class="buttoncontain">
          <a href="/creations" class="bigbutton">
            Mes Jeux
          </a>

          <a href="/boutique" class="bigbutton">
            Boutique
          </a>
        </div>
        <div class="img-bottom">
          <img class="rounded" src="assets/profil.jpg" width="400" height="319">
        </div>
    </div>
    </section>
  </div>
  {{> footer}}

</body>

</html>