{{> header title='Celia Melesville'}}

<style>
  img {
    float: left;
    margin: 30px
  }

  @media all and (max-width: 550px) {
    img {
      display: block;
      float: none;
      margin: 0;
      max-width: 100%;
    }
  }

  .menu {
    display: none
  }

  img.rounded {
    border-radius: 50%;
    margin: 1em 0
  }

  .container.section {
    display: flex;
    flex-direction: row;
    padding: 0
  }

  @media screen and (max-width: 922px) {
    img.rounded {
      display: none
    }

  }

  @media screen and (max-width: 700px) {

    .container.section {
      flex-direction: column;
    }
  }

  .buttoncontain {
    margin-top: 1em;
    flex: 1 1 0
  }

  .bigbutton {
    display: block;
    padding: 1em 2em;
    margin: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
    border: 3px solid #a7a0ba;
    color: #fff;
    background: #c1bad4;
    text-align: center;
    transition: all 0.2s;
  }

  .bigbutton:hover {
    background: #a7a0ba;
    border: 3px solid #706b7c;

  }
</style>

<body>
  <div class="wrapper">

    {{> menuheader }}

    <div class="main">
      <section class="container section ">
        <div class="buttoncontain">

          <a href="/consultations" class="bigbutton">
            Consultations
          </a>
          <a href="/creations" class="bigbutton">
            Mes Jeux
          </a>

        </div>
        <div style="flex:0 1 auto">
          <img class="rounded" src="assets/profil.jpg" width="400" height="319">
        </div>

        <div class="buttoncontain">

          <a href="/formation-tarot" class="bigbutton">
            Formation
          </a>

          <a href="/boutique" class="bigbutton">
            Boutique
          </a>
        </div>
    </div>
    </section>
  </div>
  {{> footer}}

</body>

</html>