{{> header title='Celia Melesville'}}

<style>
  img {
    float: left;
    margin: 30px
  }

  @media all and (max-width: 550px) {
    img {
      display: block;
      float: none;
      margin: 0;
      max-width: 100%;
    }
  }
</style>

<body>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">

      <section class="container section">
        <h1>Qui suis-je</h1>


        <img src="assets/profil.jpg" width="400">

        <p>Artiste, auteure, thérapeute et cartomancienne, des savoirs-faires qui s'entremêlent au gré de mes inspirations et
          donnent naissance, d'un coup de pinceau, à des oracles et des tarots.</p>


        <p>Des années à illustrer et à écrire des récits pour enfants m'ont permis de peaufiner mon style artistique et aujourd'hui
          <strong>j'ai à cœur d'imprégner mon travail de la symbolique et la spiritualité</strong> qui me tiennent tant à
          cœur.</p>

        <p>Ainsi à la base de chaque texte et illustration se trouve la graine de l'intuition, que j'écoute attentivement afin
          de tracer aux plus justes les messages qui me sont apportés.
        </p>

        <p>Je me suis également <strong>formée à diverses techniques thérapeutiques</strong> (Thérapie familiale et conjugale
          – Art thérapie) ainsi que de <strong>développement personnel et spirituel</strong> et parce que la vie est un long
          chemin, je continue à apprendre, afin de toujours faire évoluer mon regard sur le monde qui m'entoure et forger
          mon écoute bienveillante.</p>

        <p>Je vous invite à partager ma passion des cartes et du développement personnel au travers de <a href="https://www.youtube.com/channel/UCxYXOEYpeeW0ye8OVrXcR0g"> ma
    chaîne Youtube</a></p>

        <p>Actuellement <strong>j'exerce en tant que thérapeute</strong> et propose également des tirages de cartomancie ou
          de guidance à distance ou dans mon cabinet à Toulouse.</p>


        <div class="side-container">
          <div>
            <h2>Mes ressources</h2>
            <ul style="margin-left: 1em">
              <li>Licence d'art plastique</li>
              <li>Diplôme de thérapeute familial et conjugal</li>
              <li>7 années de travail dans l'univers de l'enfance en tant qu’illustratrice et auteur jeunesse</li>
              <li>15 années de travail sur le symbolisme et la tarologie</li>
              <li>En 2016 ouverture de son cabinet de thérapie et de guidance</li>
            </ul>
          </div>

          <div>
            <h2>Mes Tarots / Oracles</h2>
            <ul style="margin-left: 1em">
              <li>2015 : Publication de l'Oracle des reflets.</li>
              <li>2017 : Publication du Tanis Lenormand.</li>
            </ul>
          </div>

        </div>
      </section>



    </div>

  </div>
  {{> footer}}

</body>

</html>