{{> header title='Ateliers enfants - Art et Conscience' }}

<body>
  <div class="wrapper">

  {{> menuheader}}


  <div class="main">

    <section class="container section">
        <h1>Ateliers Enfants</h1>
        Je propose deux types d'ateliers pour les enfants :
        <h3><a href="/enfants/art-therapie">Cours d'Illustration</a></h3>
        <h3><a href="/enfants/ilustration">Atelier d'Art-thérapie</a></h3>
    </section>


  </div>

  </div>
  {{> footer}}

</body>
</html>