{{> header title='Celia Melesville'}}
<style>
  .bl-lk {
    font-size: 2em;
    flex: 1;
    text-align: center;
    text-decoration: none;
  }



  .list-formations {}

  h1 {
    font-size: 2.5em !important;
    font-family: 'Times New Roman', Times, serif !important;
  }

  .section h2 {
    border-bottom: none !important;
    text-align: center !important;
    text-shadow: none !important;
    width: auto !important;
    padding: 0 !important;
  }

  .block-formation {
    border-bottom: 2px solid rgba(209, 196, 233, 0.3);
    width: 70%;
    margin: 5em auto;
  }

  .block-formation__img {
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 1px solid #222;
  }

  .block-formation img {
    width: 300px;
    height: 200px;
    border: 1px solid #222;

    box-shadow: 1px 1px 2px #e6e6e6;
  }

  .block-formation a:hover img {
    box-shadow: 1px 1px 5px #a2a2a2;

  }


  .block-formation a {
    font-family: 'Times New Roman', Times, serif;

    text-decoration: none;
    display: block;
    text-align: center;
    color: #222;
  }

  .block-formation h4 {
    margin: 0;
    font-size: 1.2em;

  }

  .block-formation p {
    margin: 0;
    font-size: 0.8em;
    color: #333
  }

  .descrip {
    margin: 1em;

  }
</style>

<body>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">
      <section class="container section">
        <h1>Accédez à l'ensemble de mes formations</h1>
        <div class="list-formations">

          <div class="block-formation">
            <div style="display:flex">
              <h2>

                <a href="https://www.formation-tarot.fr/" title="Formation de Tarot en ligne">
                  <img src="../assets/formations/tarot.jpg" />
                  <div class="descrip">

                    <h4>Formation Tarot</h4>
                    <p>Arcanes Majeurs</p>
                    <p>Arcanes Mineurs</p>
                  </div>
                </a>
              </h2>
              <h2>
                <a href="https://formations.celiamelesville.com/formation-tirage/"
                  title="Le guide complet pour apprendre à tirer les cartes">
                  <img src="../assets/formations/tirage_cartes.jpg" />
                  <div class="descrip">

                    <h4>Le guide complet pour apprendre à tirer les cartes</h4>
                    <p>Adapté aux tarots et aux oracles</p>
                  </div>
                </a>
              </h2>
            </div>

          </div>
          <div class="block-formation">
            <h2>
              <a href="https://formations.celiamelesville.com/accueil-creativite/"
                title="Comment développer sa créativité en 10 minutes par jours">
                <img src="../assets/formations/creativite.jpg" />
                <div class="descrip">

                  <h4>Comment développer sa créativité en 10 minutes par jours</h4>
                  <p>Une méthode simple et ludique!</p>
                </div>
              </a>
            </h2>
          </div>



        </div>



      </section>



    </div>

  </div>
  {{> footer}}

</body>

</html>