{{> header title='Celia Melesville'}}
<style>
  .bl-lk {
    font-size: 2em;
    flex: 1;
    text-align: center;
    text-decoration: none;
  }

  section img {
    display: block;
    width: 100%;
  }

  section a {
    display: block;
    width: auto;
    margin: 1em 25%;
  }
</style>

<body>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">
      <section class="container section">
        <h1>Formations</h1>
        <a href="https://www.formation-tarot.fr/" title="Formation de Tarot en ligne"><img
            src="../assets/formations/formation_tarot.jpg" alt="Formation de Tarot en ligne" /></a>
        <a href="https://formations.celiamelesville.com/accueil-creativite/"
          title="Développer sa créativité en 10 minutes par jour"><img
            src="../assets/formations/developper_sa_creativite.jpg"
            alt="Développer sa créativité en 10 minutes par jour" /></a>


      </section>



    </div>

  </div>
  {{> footer}}

</body>

</html>