{{> header title='Celia Melesville - Mentions Legales'}}

<body>
  <div class="wrapper">

    {{> menuheader}}


    <div class="main">

      <section class="container section">
        <h1>Mentions Légales</h1>
        <h3>Editeur</h3>
        <p>Célia Melesville</p>
        <p>10 impasse des Leys d'Amors</p>
        <p>31100 Toulouse</p>

        <h3>Hébergeur</h3>
        <p>OVH</p>
        <div>
          <p>RCS Lille Métropole 424 761 419 00045</p>
          <p>Code APE 6202A</p>
          <p>N° TVA : FR 22 424 761 419</p>
          <p>Siège social : 2 rue Kellermann – 59100 Roubaix – France.</p>
        </div>

        <h3>Données personnelles</h3>
        <h4>Cookies</h4>
        <div>
          Les cookies servent à de très nombreux usages. Ils permettent, par exemple, de gérer la connexion de
          l’utilisateur
          authentifié sur un site web, de mémoriser ses préférences de navigation, ses préférences concernant le service
          et
          l’information qu’il délivre ou encore, sur un site marchand, de mémoriser le panier d’achat au fur et à mesure
          qu’il se
          remplit.
        </div>
        <h4>Veuillez noter que :</h4>
        <div>
          Nous n’utilisons pas de cookies permettant d’établir un profil d’utilisateur afin, par exemple, de permettant
          de mettre
          en avant, parmi les produits, ceux qui sont susceptibles de plaire à l’utilisateur, ou encore de permettre à
          des
          annonceurs d’afficher des publicités concernant des produits et services qui ne sont pas toujours en relation
          avec
          l’activité du moment.

          Nous n’utilisons pas non plus de cookies permettent de tracer les actions de l’utilisateur, les pages qu’il
          visite, le
          temps qu’il y passe.
        </div>

        <p><strong>Ce site web ne stocke aucune information personnelle. </strong></p>
        <h4>Cookies de l’hébergeur</h4>
        Ils peuvent avoir des noms légèrement différents. Généralement ils sont identifiés comme "start" et "startBAK".
        Ces cookies Ils sont utilisés dans un but de partage des charges sur
        les serveurs de l’hébergeur.
        <h4>Données personnelles de paiement</h4>
        <p>Pour le paiement nous utilisons Paypal. </p>
        <p>Vous pouvez consulter la politique de confidentialité de Paypal à l'adresse suivante : <a
            href="https://www.paypal.com/fr/webapps/mpp/ua/privacy-full">https://www.paypal.com/fr/webapps/mpp/ua/privacy-full</a>
        </p>

      </section>



    </div>

  </div>
  {{> footer}}

</body>

</html>